<%- include('header'); -%>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="images/aboutbg.jpg"  class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-normal lh-1 mb-3">Get your Blog themes</h1>
      <p class="lead">Quickly design and customize your blog sites with BlogSite, the most popular site to show case your Blogs, featuring custom themes for blogs and sharing it on your profiles.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      	<a href="/themes" ><button type="button" class="btn btn-warning btn-lg px-4">Themes</button></a>
       <a href="/compose" ><button type="button" class="btn btn-outline-secondary btn-lg px-4">Compose</button></a>
      </div>
    </div>
  </div>
</div>


	<script src="../src/index.js" type="text/jsx"></script>
<%- include('footer'); -%>