<footer class="navbar fixed-bottom navbar-light text-white bg-secondary">
  <div class="container-fluid d-flex justify-content-center h4">
    &copy BlogSite
  </div>
</footer>


</body>
</html> 